{% extends 'base.html' %}
{% load static %}

{% block title %}My Posts{% endblock %}

{% block content %}
<div class="container">
  <h2>My Posts</h2>
  {% if posts %}
  {% for post in posts %}
  <div class="card">
    {% if post.image %}
    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
    {% else %}
    <div class="card-img-top" style="background: #3C4C3F; width: 200px; height: 200px;"></div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
      </h5>
      <p class="card-text">
        {{ post.content|truncatewords:30 }}
      </p>
      <p class="card-text">
        <small>Posted on {{ post.created_at|date:"F d, Y" }} by {{ post.author.username }}</small>
      </p>
      <a href="{% url 'edit_post' post.slug %}" class="btn btn-edit">Edit</a>
      <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>You haven't created any posts yet. <a href="{% url 'create_post' %}">Create one now!</a></p>
  {% endif %}
</div>
{% endblock %}